@import "/src/_variables.scss";

.addressSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7.5rem;

  h2 {
    align-self: flex-start;
    font-size: 2.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }

  .addressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 5rem;

    span {
      max-width: 33.5rem;
      width: 100%;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }

    @media (max-width: 1164px) {
      img {
        height: 10rem;
      }
    }

    @media (max-width: 620px) {
      flex-direction: column-reverse;
    }
  }

  iframe {
    margin-bottom: 10rem;
    
    @media (max-width: 620px) {
      height: 20rem;
    }
  }

  .divider {
    max-width: 40rem;
    width: 100%;
    height: 0.0625rem;
    background-color: $primary;
    margin: 0 1rem;
  }
}
