@import "/src/_variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0 4rem 0;

  ul {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    list-style: none;

    .link {
      font-size: 1.75rem;
      font-weight: 200;
      color: $onSurface;
      text-decoration: none;
    }
  }
}