$primary: #5483B7;
$onPrimary: #001725;
$secondary: #6D4B98;
$onSecondary: #FFFFFF;
$secondaryVariant: #56529E;
$onSecondaryVariant: #FFFFFF;
$surface: #051621;
$surfaceHover: #FFFFFF42;
$onSurface: #FFFFFF;
$card: #FFFFFF;
$onCard: #2A2929;
$container: #17242E;
$onContainer: #FFFFFF;