#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem;

  @media (max-width: 1440px) {
    overflow-x: hidden;
  }

  @media (max-width: 1164px) {
    padding: 4rem;
  }

  @media (max-width: 936px) {
    padding: 3rem;
  }

  @media (max-width: 620px) {
    padding: 2rem;
  }
}
